<br>
<table class="responsive-table z-depth-1">
    <thead>
        <tr>
            <th>
                Nombre del artículo
            </th>
            <th>
                Abstract
            </th>
            <th>
                Palabras clave
            </th>
            <th>
                Archivo
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Abstract
            </td>
            <td>
                Palabras clave
            </td>
            <td>
                Archivo
            </td>
            <td>
                    <a class="waves-effect waves-light btn"><i class="material-icons right">check</i>Confirmar</a>
                    &nbsp;&nbsp;
                    <a href="author/home" class="waves-effect waves-light btn"><i class="material-icons right">cancel</i>Cancelar</a>
            </td>
        </tr>
    </tbody>
</table>
<br>