<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
           

<div class="container">
    <div class="row">
        <div class="col s2">
            <i class="material-icons Large img">library_books</i>
                
        </div>
        <div class="col s10">
            <colgroup class="col s12">
                <div class="row">
                    <div class="col s12">
                        <label>Nombres:</label>
                        <label>Aqui va el Nombres</label> 
                    </div>                   
                </div> 
                <div class="row">
                    <div class="col s12">
                        <label>titulo</label>
                        <label>Aqui van los titulo</label>
                    </div>
                </div>   
                <div class="row">
                    <div class="col s12">
                        <label>Telefono</label>
                        <label>Aqui van Telefono</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>correo</label>
                        <label>Aqui van correo</label>
                    </div>
                </div>
                <div class="row">
                   <div class="col s12">
                       <label>Afiliacion</label>
                       <label>Aqui van Afiliacion</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>nivel formacion</label>
                        <label>Aqui van nivel formacion</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>area especialidad</label>
                        <label>Aqui van area especialidad</label>
                    </div>
                </div>
            </colgroup>
        
        </div>
                    
    </div>        
    <div class="row">
        <div class="col s12">
            <h3>Summary</h3>
            <article></article>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="waves-effect waves-light btn" href="#modal1">evaluar</a>
            &nbsp;
            <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Enviar</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
       </div>
    </div>
                

</div>