   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
           



<div class="container">

    <div class="row">
        <div class="col s3">
            <i class="material-icons Large img">person</i>
        
        </div>
        <div class="col s9">
            <colgroup class="col s12">
               <div class="row">
                   <div class="col s12">
                        <label>Nombre:</label>
                        <label>Aqui va el Nombre</label> 
                   </div>                   
                </div> 
                <div class="row">
                    <div class="col s12">
                        <label>Apellidos</label>
                        <label>Aqui van los Apellidos</label>
                    </div>
                </div>   
                <div class="row">
                        <div class="col s12">
                            <label>Telefono</label>
                            <label>Aqui van Telefono</label>
                        </div>
                </div>
                <div class="row">
                        <div class="col s12">
                            <label>correo</label>
                            <label>Aqui van correo</label>
                        </div>
                </div>
                <div class="row">
                        <div class="col s12">
                            <label>Afiliacion</label>
                            <label>Aqui van Afiliacion</label>
                        </div>
                </div>
                <div class="row">
                        <div class="col s12">
                            <label>nivel formacion</label>
                            <label>Aqui van nivel formacion</label>
                        </div>
                </div>
                <div class="row">
                        <div class="col s12">
                            <label>area especialidad</label>
                            <label>Aqui van area especialidad</label>
                        </div>
                </div>

            </colgroup>

        </div>
            
    </div>
    <div class="row">
        <div class="col s12">
            <h5>About</h5> 
            <div></div>
        </div>
        


    </div>

    <div class="row">
        <div class="col s12 m4 l8">
            <a class="waves-effect waves-light btn" [routerLink]="['/evaluador/calificar']" routerLinkActive="router-link-active" >Listado</a>
            &nbsp;
            <a class="waves-effect waves-light btn" [routerLink]="['/evaluador/listado']" routerLinkActive="router-link-active" >Calificaciones</a>
        </div>
          
    </div>
   

</div>
