<br>
<br>
<div class="row z-depth-1">
    <h3 class="center-align">Creación de artículo</h3>
    <div class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input [(ngModel)]="article.title" id="first first_name" type="text" class="validate">
                <label for="first first_name">Título</label>
            </div>
            <div class="input-field col s6">
                <input [(ngModel)]="article.abstract" id="second first_name" type="text" class="validate">
                <label for="second first_name">Abstract</label>
            </div>
            <div class="input-field col s6">
                <input [(ngModel)]="article.keywords" id="first last_name" type="text" class="validate">
                <label for="first last_name">Palabras clave</label>
            </div>
            <div class="input-field col s6">
                <input [(ngModel)]="article.authors" id="second last_name" type="text" class="validate">
                <label for="second last_name">Autores</label>
            </div>
            <div class="input-field col s6">
                <label>Archivo</label>
                <input [(ngModel)]="article.file" type="file" class="validate">
            </div>
        </div>
        <div class="row center">
            <a class="btn waves-effect waves-light" (click)="createArticle()">Crear
                <i class="material-icons right">add</i></a>
            &nbsp;&nbsp;
            <a href="author/home" class="waves-effect waves-light btn"><i
                    class="material-icons right">cancel</i>Cancelar</a>
        </div>
    </div>
</div>