<br>
<div class="row">
    <div class="col s12">
        <div class="row">
            <a class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Invitar
                evaluador</a>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Listar
                evaluadores</a>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Crear
                nueva edición</a>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Listar
                artículos</a>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Estadísticas</a>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>Editores</a>
        </div>
    </div>