<br>
<table class="responsive-table z-depth-1">
    <thead>
        <tr>
            <th>
                Nombre artículo
            </th>
            <th>
                Fecha de envío
            </th>
            <th>
                Estado
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of articles">
            <td>
                {{a}}
            </td>
            <td>
                {{a}}
            </td>
            <td>
                {{a}}
            </td>
            <td>
                <a href="author/article" class="waves-effect waves-teal btn-flat">Editar</a>
                <a href="author/article/result" class="waves-effect waves-teal btn-flat">Resultados</a>
                <a class="waves-effect waves-teal btn-flat">Descargar</a>
            </td>
        </tr>
    </tbody>
</table>
<br>