<br>
<div class="row z-depth-1">
    <div class="col s12">
        <h3 class="center-align">Inicio de sesión</h3>
    </div>
    <div class="col s12">
        <div class="row">
            <div class="input-field col s10">
                <input [(ngModel)]="email" id="email" type="text" class="validate">
                <label for="email">Correo electrónico</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <input [(ngModel)]="password" id="password" type="password" class="validate">
                <label for="password">Contraseña</label>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="row center">
            <a (click)="onLoginBtnClick()" class="waves-effect waves-teal btn-flat">Acceder</a>
            |
            <a class="waves-effect waves-teal btn-flat">Recuperar contraseña</a>
            
            <a href="user/register" class="waves-effect waves-teal btn-flat">Registrarse</a>
        </div>
    </div>
</div>